body {
  width: 100%;
  font-family: 'Recursive', sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #FB6B6B;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.root, .root > div {
  width: 100%;
}

/*////////// Fonts //////////////// */

h1 {
  font-family: 'Righteous', cursive;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  letter-spacing: -0.012em;
  color: #FFFFFF;
}
h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
h5 {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}
strong {
  font-weight: 700;
}

/*/////////////////////// First Screen  /////////////////////*/

.first-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #FB6B6B;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-screen img {
  width: 136px;
  height: 161px;
  margin-bottom: 21px;
}
input {
  all: unset;
}
select, input[type=number], ::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #FB6B6B;
  opacity: 0.9;
  padding-left: 11px;
}
select, input[type=number], option {
  width: 246px;
  height: 43px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
select {
  margin-top: 34px;
}
::placeholder, select:invalid {
  color: #ADADAD;
}
.first-screen input[type=number]:focus-visible, select:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: #ADADAD;
  outline-style: auto;
  outline-width: 1px;
}
.first-screen input[type=submit] {
  width: 246px;
  height: 54px;
  color: #D70900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.first-screen h4 {
  height: 18px;
}

/*/////////////////// Game Screen /////////////*/

.game-screen {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  width: 52px;
  height: 60px;
  margin-right: 20px;
}
main {
  margin-bottom: 70px;
}
.card {
  width: 300px;
  height: 65px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  border-radius: 5px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.card.front, .card.question img, .recall {
  cursor: pointer;
}
.icons-answered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.front ion-icon, .icons-answered {
  color: #333333;
  font-size: 23px;
}
.card.front h5 {
  color: #333333;
}
.card.question, .card.answer {
  min-height: 131px;
  height: auto;
  padding: 18px 15px 6px 15px;
  flex-direction: column;
  align-items: flex-start;
}
.card h2 {
  width: 100%;
  word-break: break-word;
}
.card.question img {
  align-self: flex-end;
}
.card.answer > div {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.recall {
  width: 85px;
  height: 37px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.front.wrong h3, .card.front.almost h3, .card.front.right h3 {
  text-decoration-line: line-through;
}
.card.answer > div .wrong {
  background-color: #FF3030;
}
.card.answer > div .almost {
  background-color: #FF922E;
}
.card.answer > div .right {
  background-color: #2FBE34;
}
.card.front.wrong h3, .card.front .wrong, .icons-answered .wrong {
  color: #FF3030;
}
.card.front.almost h3, .card.front .almost, .icons-answered .almost {
  color: #FF922E;
}
.card.front.right h3, .card.front .right, .icons-answered .right {
  color: #2FBE34;
}

/*//////////////// Results /////////////////*/

footer {
  width: 100%;
  min-height: 70px;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.result-message {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.first-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
.first-message img {
  margin-right: 13px;
}
.final-message {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final-message h2 {
  text-align: center;
  word-break: break-word;
}
.counter {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter.started {
  align-items: flex-end;
}
.counter h2 {
  text-align: center;
}
.icons-results {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restart-button {
  width: 167px;
  height: 32px;
  background-color: #FB6B6B;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 17px 0 21px 0;
}
.restart-button h4 {
  text-align: center;
}