footer {
  width: 100%;
  min-height: 70px;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.result-message {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.first-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
.first-message img {
  margin-right: 13px;
}
.final-message {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final-message h2 {
  text-align: center;
  word-break: break-word;
}
.counter {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter.started {
  align-items: flex-end;
}
.counter h2 {
  text-align: center;
}
.icons-results {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restart-button {
  width: 167px;
  height: 32px;
  background-color: #FB6B6B;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 17px 0 21px 0;
}
.restart-button h4 {
  text-align: center;
}